Source: elementary-fonts
Section: fonts
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: fonts-capture-it-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-capture-it
Description: Some font
 This is a font.

Package: fonts-croscore-config-elementary
Depends: fonts-croscore
Enhances: fonts-croscore
Architecture: all
Multi-Arch: foreign
Description: Map open-source Croscore fonts to MS fonts
 A font config that maps metrically compatible open-source fonts
 Arimo (sans-serif), Tinos (serif) and Cousine (monospace) to
 Arial, Times New Roman, and Courier New, respectively.

Package: fonts-daniel-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-daniel
Description: Some font
 This is a font.

Package: fonts-elementary-core
Architecture: all
Multi-Arch: foreign
Conflicts: fonts-droid
Replaces: fonts-droid
Depends: fonts-croscore,
         fonts-inter-elementary,
         fonts-noto,
         fonts-noto-color-emoji,
         fonts-open-sans,
         fonts-raleway-elementary,
         fonts-roboto,
         fonts-roboto-mono-elementary,
         fonts-sil-mondulkiri
Recommends: fonts-croscore-config-elementary
Description: elementary essential fonts (dependency package)
 These are fonts that elementary OS depends on.

Package: fonts-elementary-extra
Architecture: all
Multi-Arch: foreign
Depends: fonts-capture-it-elementary,
         fonts-daniel-elementary,
         fonts-hvd-bodedo-elementary,
         fonts-jenna-sue-elementary,
         fonts-limelight-elementary,
         fonts-lobster-elementary,
         fonts-operating-instructions-elementary,
         fonts-opendyslexic,
         fonts-plainblack-elementary,
         fonts-redacted-elementary
Description: elementary featured fonts (dependency package)
 These are fonts that elementary likes.

Package: fonts-hvd-bodedo-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-hvd-bodedo
Description: Some font
 This is a font.

Package: fonts-inter-elementary
Architecture: all
Multi-Arch: foreign
Description: Inter typeface
 Inter is a typeface carefully crafted & designed for computer screens.

Package: fonts-jenna-sue-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-jenna-sue
Description: Some font
 This is a font.

Package: fonts-khmer-mondulkiri-elementary
Section: oldlibs
Architecture: all
Multi-Arch: foreign
Depends: fonts-sil-mondulkiri
Description: Dummy transitional package
 Dummy transitional package, safe to remove.

Package: fonts-limelight-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-limelight
Description: Some font
 This is a font.

Package: fonts-lobster-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-lobster
Description: Some font
 This is a font.

Package: fonts-open-sans-elementary
Section: oldlibs
Architecture: all
Multi-Arch: foreign
Priority: optional
Depends: fonts-open-sans
Description: Dummy transitional package
 Dummy transitional package, safe to remove.

Package: fonts-open-sans-emoji-elementary
Section: oldlibs
Architecture: all
Multi-Arch: foreign
Depends: fonts-noto
Description: Dummy transitional package
 Dummy transitional package, safe to remove.

Package: fonts-operating-instructions-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-operating-instructions
Description: Some font
 This is a font.

Package: fonts-plainblack-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-plainblack
Description: Some font
 This is a font.

Package: fonts-raleway-elementary
Architecture: all
Multi-Arch: foreign
Replaces: fonts-raleway
Description: Some font
 This is a font.

Package: fonts-redacted-elementary
Architecture: all
Multi-Arch: foreign
Description: Redacted script font
 Font for concealing text.

Package: fonts-roboto-mono-elementary
Architecture: all
Multi-Arch: foreign
Description: Monospaced addition to the Roboto type family
 Roboto Mono gives special consideration to glyphs
 important for reading and writing software source code.

