Source: elementary-fonts
Section: fonts
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 13)
Standards-Version: 3.9.6

Package: fonts-croscore-config-elementary
Depends: fonts-croscore,
         ${misc:Depends}
Enhances: fonts-croscore
Architecture: all
Multi-Arch: foreign
Description: Map open-source Croscore fonts to MS fonts
 A font config that maps metrically compatible open-source fonts
 Arimo (sans-serif), Tinos (serif) and Cousine (monospace) to
 Arial, Times New Roman, and Courier New, respectively.

Package: fonts-elementary-core
Architecture: all
Multi-Arch: foreign
Conflicts: fonts-droid
Replaces: fonts-droid
Depends: fonts-croscore,
         fonts-noto,
         fonts-noto-color-emoji,
         fonts-open-sans,
         fonts-roboto,
         fonts-roboto-mono-elementary,
         fonts-sil-mondulkiri,
         ${misc:Depends}
Recommends: fonts-croscore-config-elementary
Description: elementary essential fonts (dependency package)
 These are fonts that elementary OS depends on.

Package: fonts-elementary-extra
Architecture: all
Multi-Arch: foreign
Depends: fonts-opendyslexic,
         fonts-redacted-elementary
Description: elementary featured fonts (dependency package)
 These are fonts that elementary likes.

Package: fonts-redacted-elementary
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Redacted script font
 Font for concealing text.

Package: fonts-roboto-mono-elementary
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Monospaced addition to the Roboto type family
 Roboto Mono gives special consideration to glyphs
 important for reading and writing software source code.
